.depense-list-container * {
    margin: .7rem auto;
.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 2rem;
        .p-field {
            margin: 1rem auto;
            input {
                margin: 0;
            }
        }
    }
}
.ajout {
    display : flex;
    justify-content : center;
    button {
        width: 50%;
        margin : 0 auto;
    }
}



