<form [formGroup]="roleEditForm" (ngSubmit)="submit()">
    <div class="form-grid">
        <div class="form-group">
            <label>Role</label>
            <p-dropdown
                [style]="{'min-width': '100%'}"
                [options]="roles"
                optionLabel="name"
                formControlName="role"
                placeholder="Sélectionner le role"
            ></p-dropdown>
        </div>

        <div class="form-group">
            <label for="name">Nom du role</label>
            <input id="name" type="text" pInputText formControlName="name" />
        </div>
    </div>

    <div class="form-actions">
        <button pButton type="submit" label="Modifier le role"></button>
    </div>
</form>
