<a type="button" appBack>
    <img src="/assets/back-button.svg" class="button-back" alt="Retour" width="40" height="40">
</a>

<div class="report-container">

    <div class="selection-container">
        <div class="selection-section">
            <h5 class="section-title">Sélection projet(s)</h5>
            <div class="project-list">
                <div *ngFor="let shortproject of shortProjects" class="project-item">
                    <p-checkbox
                        [(ngModel)]="selectedProject"
                        [label]="shortproject.name"
                        name="group"
                        [value]="shortproject.idProject">
                    </p-checkbox>
                </div>
            </div>
        </div>

        <div class="selection-section">
            <h5 class="section-title">Sélection libellé(s)</h5>
            <div class="libelle-list">
                <p-tree
                    [value]="listLibeles"
                    selectionMode="checkbox"
                    class="w-full md:w-30rem"
                    [(selection)]="selectedListLibeles">
                </p-tree>
            </div>
        </div>
    </div>

    <div class="date-selection-container">
        <div class="date-field">
            <h5 class="date-title">Date de Début</h5>
            <p-calendar
                [(ngModel)]="date_start"
                [iconDisplay]="'input'"
                (onSelect)="onDateStartChange($event)"
                [showIcon]="true"
                dateFormat="dd-mm-yy"
                inputId="icondisplay">
            </p-calendar>
            <h5 class="date-title">Date de fin</h5>
            <p-calendar
                [(ngModel)]="date_end"
                [iconDisplay]="'input'"
                [showIcon]="true"
                dateFormat="dd-mm-yy"
                inputId="icondisplay">
            </p-calendar>
        </div>
    </div>

    <div class="action-container">
        <button class="p-button p-component p-button-success" (click)="send()">
            Créer Rapport
        </button>
    </div>
</div>
