<!-- Formulaire pour ajouter ou modifier un utilisateur -->
<form [formGroup]="userForm" (ngSubmit)="submit()" class="p-fluid">
    <div class="p-field">
        <label for="nom">Nom</label>
        <input id="nom" type="text" pInputText formControlName="nom" />
    </div>
    <div class="p-field">
        <label for="prenom">Prénom</label>
        <input id="prenom" type="text" pInputText formControlName="prenom" />
    </div>
    <div class="p-field">
        <label for="email">Email</label>
        <input id="email" type="email" pInputText formControlName="email" />
    </div>
    <div class="p-field">
        <label for="password">Mot de passe</label>
        <input id="password" type="password" pInputText formControlName="password" />
    </div>
    <div class="p-field">
        <p-dropdown [options]="roles" optionLabel="label" formControlName="role_Id" placeholder="Sélectionnez un rôle" ></p-dropdown>
    </div>
    @if(user) {
        <div class="p-field">
            <p-dropdown [options]="statusOptions" optionLabel="label" formControlName="isActive" placeholder="Sélectionnez un statut"></p-dropdown>
        </div>
    }

    <!-- Bouton de soumission du formulaire -->
    <button pButton type="submit" [label]="user ? 'Modifier' : 'Ajouter'" icon="pi pi-check" [disabled]="userForm.invalid"></button>
</form>
