.Rapport-H-Project{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
p-calendar{
    margin: 10px;
}

p-button{
    display: flex;
    justify-content: end;

}

.Rapport-counter{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
