<!-- users/components/user-list/user-list.component.html -->

<div class="user-list-container">
    <!-- En-tête avec boutons d'action -->
    <div class="header">
        <div >
            <button pButton label="Ajouter" class="add-btn" icon="pi pi-plus" (click)="openAddUserForm()"></button>
        </div>
        <div>
            <input class="search-btn"
                pInputText
                type="text"
                placeholder="Rechercher..."
                [(ngModel)]="searchQuery"
                (input)="searchUsers()"
            />
            <p-dropdown
                [options]="[
          { label: 'Tous', value: null },
          { label: 'Employés', value: 'Employé' },
          { label: 'Admins', value: 'Admin' },
          { label: 'Actifs', value: 'Actifs' },
          { label: 'Inactifs', value: 'Inactifs' }
        ]"
                placeholder="Filtrer"
                (onChange)="filterUsers($event.value)"
            ></p-dropdown>
        </div>
    </div>

    <!-- Tableau des utilisateurs -->
    <p-table [value]="filteredUsers" [paginator]="true" [rows]="8" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Rôles</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td class="roles">
                    <ng-container *ngFor="let role of user.roles">
                        <p-chip label="{{ role.name }}"></p-chip>
                    </ng-container>
                </td>
                <td>
                    <p-chip
                        [label]="user.isActive ? 'Actif' : 'Inactif'">
                    </p-chip>
                </td>
                <td>
                    <button class="modify-btn"
                        pButton
                        icon="pi pi-pencil"
                            label="Modifier"
                        (click)="openEditUserForm(user)"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- Dialogue pour le formulaire d'ajout/modification -->
<p-dialog  header="{{ selectedUser ? 'Modifier Utilisateur' : 'Ajouter Utilisateur' }}"
           [(visible)]="displayForm"
           [modal]="true"
           [closable]="true"
           [resizable]="false"
           (onHide)="onDialogHide()"
>
    <app-user-form
        [userData]="selectedUser"
        (formSubmit)="onFormSubmit($event)"
    ></app-user-form>
</p-dialog>
