<a
    type="button"
    appBack>
    <img src="/assets/back-button.svg" class="button-back" alt="Retour" width="50px" height="50px">
</a>

<div class="rentree-list-container">
    <div class="header">
        @if (rentrees.length > 0) {
            <h2>Encodage des rentrées du projet {{ projectId }}</h2>
        } @else {
            <h2>Aucune rentrée n'est encodée pour le projet {{ projectId }}.</h2>
        }

        <button pButton label="Ajouter une rentrée" icon="pi pi-plus" (click)="openAddRentreeForm()"></button>
    </div>

    <p-table [value]="rentrees" [paginator]="true" [rows]="10" class="rentrees">
        <ng-template pTemplate="header">
            <tr>
                <th>Nature</th>
                <th>Organisme</th>
                <th>Motif</th>
                <th>Montant</th>
                <th>Date Facturation</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rentree>
            <tr>
                <td>{{ getLibeleName(rentree.idLibele) }}</td>
                <td>{{ getOrganismeName(rentree.idOrganisme) }}</td>
                <td>{{ rentree.motif }}</td>
                <td>{{ rentree.montant | currency:'EUR' }}</td>
                <td>{{ rentree.dateFacturation | date:'dd/MM/yyyy' }}</td>
                <td>
                    <button pButton icon="pi pi-pencil" label="Modifier" (click)="openEditRentreeForm(rentree)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog header="{{ selectedRentree ? 'Modifier une rentrée' : 'Ajouter une rentrée' }}"
              [(visible)]="displayForm"
              [modal]="true"
              [closable]="true"
              [resizable]="false"
              (onHide)="onDialogHide()">

    <form [formGroup]="rentreeForm" (ngSubmit)="submitRentree()">
            <div class="p-fluid">
                <div class="form-container">
                    <div>
                        <div class="p-field">
                            <label>Catégorie</label>
                            <p-dropdown [options]="categories"
                                        optionLabel="categoryName"
                                        optionValue="idCategory"
                                        formControlName="categoryId"
                                        (onChange)="onCategoryChange()"
                                        placeholder="Sélectionner une catégorie">
                            </p-dropdown>
                            <small *ngIf="rentreeForm.get('categoryId')?.invalid && rentreeForm.get('categoryId')?.touched" class="p-error">La catégorie est requise.</small>
                        </div>

                        <div class="p-field">
                            <label>Libellé</label>
                            <p-dropdown [options]="filteredLibeles"
                                        optionLabel="libeleName"
                                        optionValue="idLibele"
                                        formControlName="idLibele"
                                        placeholder="Sélectionner un libellé">
                            </p-dropdown>
                            <small *ngIf="rentreeForm.get('idLibele')?.invalid && rentreeForm.get('idLibele')?.touched" class="p-error">Le libellé est requis.</small>
                        </div>

                        <div class="p-field">
                            <label for="idOrganisme">Organisme</label>
                            <p-dropdown id="idOrganisme"
                                        [options]="organismes"
                                        optionLabel="name"
                                        optionValue="idOrganisme"
                                        formControlName="idOrganisme"
                                        placeholder="Sélectionner un organisme">
                            </p-dropdown>
                        </div>

                        <div class="p-field">
                            <label for="motif">Motif</label>
                            <input id="motif" type="text" pInputText formControlName="motif" />
                        </div>
                    </div>

                    <div>
                        <div class="p-field">
                            <label for="montant">Montant</label>
                            <input id="montant" type="number" pInputText formControlName="montant" />
                            @if (rentreeForm.get('montant')?.invalid && rentreeForm.get('montant')?.touched) {
                                <small class="p-error">Le montant doit être supérieur ou égal à 0.</small>
                            }
                        </div>

                        <div class="p-field">
                            <label for="dateFacturation">Date Facturation</label>
                            <p-calendar id="dateFacturation" formControlName="dateFacturation" [iconDisplay]="'input'"
                                        [showIcon]="true"></p-calendar>
                            @if (rentreeForm.get('dateFacturation')?.invalid && rentreeForm.get('dateFacturation')?.touched) {
                                <small class="p-error">La date de facturation est obligatoire.</small>
                            }
                        </div>
                    </div>
                </div>

                <div class="p-field ajout">
                    <button pButton type="submit" label="Ajouter"></button>
                </div>
            </div>
        </form>
    </p-dialog>
</div>
