.form-group input[type="text"],
.form-group p-dropdown,
.form-group p-calendar,
.form-group p-inputNumber
{
    width: 46%;
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
    color: #555;
}

.form-container {
    flex: 0 0 40%;
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px; /* Reduced spacing */
    max-height: 80vh; /* Ensure it fits within the viewport */
    overflow: scroll;
    overflow-x: hidden;
}

label {
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    display: block;
}


button {
    background-color: #84c101;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left : 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    width: auto;
}

button:hover {
    background-color: #76b901;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


button[type="submit"] {
    padding: 10px 20px;
}


#style1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 15px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#style1::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
}

#style1::-moz-color-swatch {
    border-radius: 15px;
    border: none;
}

#newOrganismeName{
    border: 1px solid #d1d0d0;
    margin: 0 2px 0 2px;
}

.labelNewOrga {
    margin-top: 10px;
}

#montantBudget{
    height: 65px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.logo-container {
    flex: 0 0 58%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 50%;
    height: auto;
}
