/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #84c101
}

app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: var(--primary-color);
    width: 12%;
    height: 100vh;
    position: fixed;
}

main {
    background-color: var(--blanc);
    margin-left: 12%;
    padding: 1rem;
    width: 88%;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
