<div class="container">
    <h4 class="title">Suivi à [mois Année]</h4>
    <div class="content-wrapper">

        <!-- Entrées Section -->
        <div class="card">
            <h5>Entrées</h5>
            <div class="data-group">
                <div>
                    <button class="data-button">Prévision entrées</button>
                    <p>{{ lastPrevisionIncome | currency:'EUR':'symbol' }}</p>
                </div>
                <div>
                    <button class="data-button">Entrées réelles</button>
                    <p>{{ lastRealIncome | currency:'EUR':'symbol' }}</p>
                </div>
                <div>
                    <button class="data-button">Variation</button>
                    <p>{{ variationIncomes | number:'1.2-2' }}%</p>
                </div>
            </div>
            <p-chart type="line" [data]="chartDataIncomes" [options]="chartOptions"></p-chart>
        </div>

        <!-- Dépenses Section -->
        <div class="card">
            <h5>Dépenses</h5>
            <div class="data-group">
                <div>
                    <button class="data-button">Prévision dépense</button>
                    <p>{{ lastPrevisionExpense | currency:'EUR':'symbol' }}</p>
                </div>
                <div>
                    <button class="data-button">Coût réel</button>
                    <p>{{ lastRealExpense | currency:'EUR':'symbol' }}</p>
                </div>
                <div>
                    <button class="data-button">Variation</button>
                    <p>{{ variationExpenses | number:'1.2-2' }}%</p>
                </div>
            </div>
            <p-chart type="line" [data]="chartDataExpenses" [options]="chartOptions"></p-chart>
        </div>
    </div>
</div>
